html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    border: none;
    box-shadow: none;
}

h1 {
    font-size: 4vh;
    text-align: center;
    padding: 2vh;
}

.container {
    padding-top: 3vh;
}

#graph-container {
    height: 70vh;
}

#graph {
    border: 2px solid black;
}

#graph-type {
    background-color: black;
    color: white;
    font-size: 2vh;
    text-align: center;
}

#draw {
    border: 2px solid black;
    background-color: white;
    font-size: 2vh;
}

#draw:hover {
    background-color: #a1a1a1;
}

#panel {
    padding: 10px;
    border: 2px solid black;
    height: 70vh;
}

#graph-info {
    padding-top: 3vh;
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 768px) {
    #panel {
        height: 40vh;
    }
    #graph-container {
        height: 50vh;
    }
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}